// Font smooth
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-family: $font-primary;
}

// Generate margin bottom classes (ie: .mb--10 will add a margin-bottom: 10px style)
@include block('mb') {
    $elems: ('0', '5', '10', '15', '20', '25', '30', '40', '45', '50', '55', '60', '80', '100', '200');
    @each $elem in $elems {
        @include modifier($elem) {
            margin-bottom: #{$elem}px !important;
        }
    }
}

// Generate margin top classes (ie: .mb--10 will add a margin-top: 10px style)
@include block('mt') {
    $elems: ('0', '5', '10', '15', '20', '25', '30', '40', '45', '50', '55', '60', '80', '100', '200');
    @each $elem in $elems {
        @include modifier($elem) {
            margin-top: #{$elem}px !important;
        }
    }
}

// Generate margin right classes (ie: .mr--10 will add a margin-right: 10px style)
@include block('mr') {
    $elems: ('5', '10', '15', '20', '25', '35', '50', '120');
    @each $elem in $elems {
        @include modifier($elem) {
            margin-right: #{$elem}px !important;
        }
    }
}

@media screen and (max-width: 767px) {
    // Generate margin right classes (ie: .mr-xs--10 will add a margin-right: 10px style)
    @include block('mr-xs') {
        $elems: ('0', '5', '10', '15', '20', '25', '35', '50', '120');
        @each $elem in $elems {
            @include modifier($elem) {
                margin-right: #{$elem}px !important;
            }
        }
    }
}

.flex-v {
    display: flex;
    align-items: center;
    justify-content: center;

    @include modifier('left') {
        justify-content: flex-start;
    }

    @include modifier('right') {
        justify-content: flex-end;
    }

    @include modifier('bottom') {
        align-items: flex-end;
    }

    @include modifier('spaced') {
        justify-content: space-between;
    }

    @include modifier('wrap') {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1200px) {
    .no-eq-lg {
        min-height: 0 !important;
    }

    .no-flex-lg {
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .no-eq-md {
        min-height: 0 !important;
    }

    .no-flex-md {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .no-eq-sm {
        min-height: 0 !important;
    }

    .no-flex-sm {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .no-eq-xs {
        min-height: 0 !important;
    }

    .no-flex-xs {
        display: block;
    }
}

@media screen and (max-width: 479px) {
    .no-eq-xxs {
        min-height: 0 !important;
    }

    .no-flex-xxs {
        display: block;
    }
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}